# Environment variables
.env
.env.local
.env.*.local

# Private keys
private_key*
secrets*

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
build/
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Hardhat/contract tools
artifacts/
cache/
typechain/

# Runtime
.next/
.netlify/
.vercel/
coverage/
.vercel
.env*.local
